<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
	
			<beans>
			<bean id="cmp" class="com.Company">
			<property name="cid" value="1003"></property>
			<property name="cname" value="Wipro"></property>
			<property name="caddress" value="pune"></property>
			</bean>
			
			<bean id="emp" class="com.Employee">
<!-- 			<property name="eid" value="101"></property> -->
<!-- 			<property name="ename" value="Nikita"></property> -->
<!-- 			<property name="eaddress" value="Pune"></property> -->
<!-- 			<property name="eage" value="20"></property> -->
<!-- 			<property name="company" ref="cmp"></property> -->
<constructor-arg value="101"></constructor-arg>
<constructor-arg value="Sam"></constructor-arg>
<constructor-arg value="Pune"></constructor-arg>
<constructor-arg value="22"></constructor-arg>
<constructor-arg ref="cmp"></constructor-arg>
			</bean>
			
			</beans>
